
# ━━━━━ Next.js ━━━━━━━━━━━━━

NEXT_PUBLIC_DOMAIN           =http://localhost:3000


# ━━━━━ AFFiNE ━━━━━━━━━━━━━

AFFINE_BASE_URL              =http://10.0.0.133
AFFINE_EMAIL                 =wiki-noreply@nantric.com
AFFINE_PASSWORD              =
AFFINE_WORKSPACE_ID          =ec271edc-e6b3-4c63-a5e0-6102689f2243
